[submodule "lisp/packages/cnfonts"]
	path = lisp/packages/cnfonts
	url = https://github.com/tumashu/cnfonts.git
[submodule "lisp/packages/swiper"]
	path = lisp/packages/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "lisp/packages/emacs-which-key"]
	path = lisp/packages/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "lisp/packages/s.el"]
	path = lisp/packages/s.el
	url = https://github.com/magnars/s.el
